<div class="content">
  <div>
    <div class="collate">
      <mat-form-field class="filter-sort" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="First Name/Last Name/Email/Phone Number">
      </mat-form-field>
      <mat-form-field class="filter-sort" appearance="outline">
        <mat-label>Choose an order parameter</mat-label>
        <mat-select (selectionChange)="selectOrderByOption($event.value)">
          <mat-option *ngFor="let orderOption of orderByOptions" [value]="orderOption.value">{{orderOption.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 elem" matSort>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let user">{{user.phoneNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
        <td mat-cell *matCellDef="let user">{{user.birthDate | date:'dd/MM/yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let user">{{user.role}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let user">
          <a mat-mini-fab color="primary" routerLink="{{user.id}}/edit">
            <mat-icon class="white-icon">edit</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let user">
          <button mat-mini-fab color="warn" (click)="onDelete(user)">
            <mat-icon class="white-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <div class="paginator mat-elevation-z8 elem">
      <div>Items per page</div>
      <div>
          <select (change)="selectPageSizeOption()" [(ngModel)]="currentPageSize">
            <option *ngFor="let sizeOption of pageSizeOptions">
                {{sizeOption.name}}
            </option>
          </select>
      </div>
      <div>Page: {{this.currentPageNumber}}</div>
      <div>
        <button mat-raised-button [disabled]="currentPageNumber == 1" 
          (click)="onPrevPageClick()" color="info">Prev</button>
      </div>
      <div class="next-btn">
        <button mat-raised-button [disabled]="dataSource.data.length < currentPageSize"
          (click)="onNextPageClick()" color="info">Next</button>
      </div>
    </div> -->
    <div class="paginator mat-elevation-z8 elem">
      <div>Items per page</div>
      <div>
        <select (change)="selectPageSizeOptions()" [(ngModel)]="currentPageSize">
            <option *ngFor="let pageSizeOption of pageSizeOptions">
                {{pageSizeOption.name}}
            </option>
        </select>
      </div>
      <div>{{pageInfo?.currentPage ?? 0}} of {{pageInfo?.totalPages ?? 0}}</div>
      <div>
        <button mat-raised-button [disabled]="!(pageInfo?.hasPrevious??false)" (click)="onPrevPageClick()" color="info">Prev</button>
      </div>
      <div class="next-btn">
        <button mat-raised-button [disabled]="!(pageInfo?.hasNext??false)" (click)="onNextPageClick()" color="info">Next</button>
      </div>
  </div>

    <button class="new-emp-btn mat-elevation-z8" mat-stroked-button (click)="onCreateEmployee()" color="primary">
      <mat-icon class="add-icon">add</mat-icon>
      <span>New Employee</span>
    </button>
  </div>
</div>