<div id="animalCarousel" class="carousel" data-bs-ride="carousel" *ngIf="animals.length>0">
  <div class="carousel-inner">
    <div *ngFor="let an of animals; let i = index" [ngClass]="i === 0 ? 'carousel-item active': 'carousel-item'">
      <div class="inner-flex">
        <div class="inner-img">
          <img src="{{an.photoUrl}}" alt="carousel-{{an.nickName}}-image">
        </div>
        <div class="inner-info">
          <h2>{{an.nickName}}</h2>
          <p>{{an.birthDate | date:'mediumDate' }}</p>
        </div>
        <div class="inner-btns">
          <button mat-mini-fab color="primary" (click)="onDeleteAnimal(an)">
            <mat-icon class="white-icon" color="warn">delete</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="onEditAnimal(an)">
            <mat-icon class="white-icon" color="accent">edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="onViewMedCard(an.id!)">
            <mat-icon class="white-icon">assessment</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#animalCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#animalCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<a (click)="onNewAnimal()" class="new-animal-btn" mat-raised-button color="primary">New Animal</a>




