<div class="page-wrapper">
  <div class="side-menu mat-elevation-z6"
  *ngIf="otherArticles.length != 0">
    <span class="mat-title">See also:</span>
    <ng-container *ngFor="let element of otherArticles">
      <mat-divider></mat-divider>
      <button mat-flat-button
              class="link-button"
              (click)="onOpenArticle(element, $event)">
        {{element.title!}}
      </button>
    </ng-container>
  </div>

  <div class="centred-div mat-elevation-z23">
    <app-view-article-container [article]="currentArticle!"></app-view-article-container>
  </div>
</div>
