<div class="page-wrapper">
  <p class="mat-headline">VetClinic corporate blog</p>

  <div class="filter-view-div">
    <mat-form-field appearance="outline">
      <mat-label>Choose view</mat-label>
      <mat-select [formControl]="selected">
        <mat-option value="list">List view</mat-option>
        <mat-option value="grid">Grid view</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter" appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input>
    </mat-form-field>
  </div>

  <ng-container *ngIf="selected.value == 'grid'; else templateA">
    <!--Grid of cards view-->
    <div class="article-grid-wrapper">
      <app-article-card *ngFor="let select of articles" [article]="select"
                        (deletedArticle)="onDeleteArticle($event)"></app-article-card>

      <mat-card
        (click)="onNewArticle()"
        class="mat-elevation-z23 new-card"
        *ngIf="authService.isAuthorized() && authService.isInRole('Admin')">
        <mat-card-title>
          <span class="title-span">New article</span>
        </mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content class="new-card-content">
          <mat-icon class="new-article-icon">add</mat-icon>
        </mat-card-content>
      </mat-card>

    </div>
  </ng-container>

  <ng-template #templateA>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 row"
      matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let element"> {{dateTimeService.getDateTimeString(element.createdAt)}} </td>
      </ng-container>

      <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <app-article-menu [article]="element" (articleChange)="onArticleChange()" (deletedArticle)="onDeleteArticle($event)" ></app-article-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mat-elevation-z8 row"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page"></mat-paginator>

    <button class="new-procedure-button mat-elevation-z8"
            mat-stroked-button
            (click)="onNewArticle()"
            color="primary"
            *ngIf="authService.isAuthorized() && authService.isInRole('Admin')">
      <mat-icon class="add-icon">add</mat-icon>
      New Article
    </button>
  </ng-template>

</div>
