<div [formGroup]="form">
  <div class="mat-title">New Animal</div>
  <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
    <mat-label>Animal nickname</mat-label>
    <input
      matInput
      formControlName="nickName"
      type="string"
      minlength="1"
      placeholder="Animal nick name">
    <mat-hint>Length must be greater than 1</mat-hint>
    <mat-error *ngIf="form.controls.nickName.invalid">Length must be greater than 1</mat-error>
  </mat-form-field>
  <p>
    <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
      <mat-label>Animal birth date</mat-label>
      <input
        matInput
        formControlName="birthDate"
        type="date"
        min="1978-01-01"
        placeholder="Animal birth date">
    </mat-form-field>
  </p>
  <div class="buttons-div">
    <button mat-flat-button (click)="onNoClick()">Discard</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid" (click)="onSaveForm()">Save</button>
  </div>
</div>
