.Value 
    width: 320px
    display: flex
    flex-direction: row
    justify-content: space-between

.buttons-div 
    width: 320px
    display: flex
    flex-direction: row
     justify-content: flex-end
