<div [formGroup]="form" class="form-container" [ngStyle]="{'width':'400px'}">
    <div class="mat-title">Login</div>
    
    <mat-form-field appearance="outline">
        <mat-label>Email or username</mat-label>
        <input 
            matInput 
            formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
               formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    
    <mat-error 
      *ngIf="this.isLoginSucceeded === false">
      Invalid username or password
    </mat-error>

    <button [disabled]="form.invalid" mat-button (click)="onSubmit()">Login</button>



  </div>