<form [formGroup]="editUserAddressForm">
  <div>
    <mat-form-field class="first-form-field form-field" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. Ivano-Frankivsk" formControlName="city">

    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Ex. Halytska" formControlName="street">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>House</mat-label>
      <input matInput placeholder="Ex. 123" formControlName="house">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Apartment number</mat-label>
      <input matInput placeholder="Ex. 15" formControlName="apartmentNumber">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Postcode</mat-label>
      <input matInput placeholder="Ex. 76000" formControlName="zipCode">
    </mat-form-field>
  </div>

  <div class="controls">
    <button mat-raised-button class="submit-btn" color="primary" (click)="updateUserAddress()">{{submitButtonText}}</button>
    <button mat-raised-button (click)="addressService.goToPreviousPage()">Cancel</button>
    <button *ngIf="deleteButtonVisibility" mat-raised-button color="warn" (click)="deleteAddress()">Delete</button>
  </div>
</form>
