.header-container
    display: flex
    justify-content: space-between

.user-operations-container
    display: flex
    //width: 65%
    justify-content: flex-end

.btns
    display: flex

.user-img-wrapper
    width: 40px
    height: 40px

.user-img-wrapper img
    height: 100%
    width: 100%
    object-fit: cover
    border-radius: 50%
    color: white
    text-decoration: none
    font-size: 14px
    font-weight: 500

.logout-button
    align-self: center

@media screen and (max-width: 900px)
  .header-container
    display: grid
    grid-template-areas: "btns" "user-operations-container"
    grid-gap: 5px
    height: auto
    
a
    display: flex
    justify-content: center
    
.active
    background-color: #00695c 
