<mat-toolbar color="primary" class="header-container">

  <div class="btns">
    <a mat-button routerLink="/">VetClinic</a>
    <a mat-button routerLinkActive="active" routerLink="/procedures">Procedures</a>
    <a mat-button routerLinkActive="active" routerLink="/doctors">Doctors</a>

    <a mat-button routerLinkActive="active" routerLink="/blog">Blog</a>
    <a mat-button routerLinkActive="active" *ngIf="authService.isAuthorized()" routerLink="/appointments">My Appointments</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Accountant')" routerLink="/salaries">Salary</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Accountant')" routerLink="/financialStatement">FinancialStatement</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Admin')" routerLink="/users">Users</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Admin')" routerLink="/specializations">Specializations</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Admin')" routerLink="/feedbacks">Feedbacks</a>
    <a mat-button routerLinkActive="active"
       *ngIf="authService.isAuthorized() && authService.isInRole('Admin')" routerLink="/exceptions">Exceptions</a>
  </div>

  <div class="user-operations-container">
    <a mat-button *ngIf="!authService.isAuthorized()" routerLink="auth/signup">Sign up</a>
    <a mat-button *ngIf="!authService.isAuthorized()" routerLink="auth/login">Login</a>
    <a mat-button *ngIf="authService.isAuthorized()" routerLink="/messages">
      <mat-icon 
         [matBadge]="messagingService.numberOfUnreadMessages != 0 ? 
                     messagingService.numberOfUnreadMessages : null" 
         matBadgeColor="warn">
         email
      </mat-icon> 
    </a>
    <a *ngIf="authService.isAuthorized()" [routerLink]="['/users', authService.getUserId()]">
      <div class="user-img-wrapper">
         <img [src]="profilePic" (error)="profilePic='/assets/images/default_profile_pic.jpg'" >
      </div>
    </a>

    <a class="logout-button" mat-button *ngIf="authService.isAuthorized()" (click)="onLogout()">Logout</a>
  </div>
</mat-toolbar>
