<mat-toolbar color="primary" class="header-container">

  <div class="btns">
    <a mat-button routerLinkActive="active" routerLink="/home">VetClinic</a>
    <a mat-button routerLinkActive="active" routerLink="/procedures">Procedures</a>
    <a mat-button routerLinkActive="active" routerLink="/doctors">Doctors</a>
    <a mat-button routerLinkActive="active" routerLink="/appointments">My Appointments</a>
    <a mat-button routerLinkActive="active">My Work</a>
    <a mat-button routerLinkActive="active" *ngIf="authService.isInRole('Admin')" routerLink="/users">Users</a>
    <a mat-button routerLinkActive="active" routerLink="/specializations">Specializations</a>
    <!--<a mat-button routerLinkActive="active" *ngIf="authService.isInRole('Admin')" routerLink="/specializations">Specializations</a> -->
    <a mat-button routerLinkActive="active" *ngIf="authService.isInRole('Admin')" routerLink="/exceptions">Exceptions</a>
  </div>

  <div class="user-operations-container">
    <a mat-button *ngIf="!authService.isAuthorized()" routerLink="auth/signup">Sign up</a>
    <a mat-button *ngIf="!authService.isAuthorized()" routerLink="auth/login">Login</a>
    <a mat-button *ngIf="authService.isAuthorized()" (click)="onLogout()">Logout</a>
  </div>
</mat-toolbar>


