.header-container
    display: flex
    justify-content: space-between

.user-operations-container
    display: flex
    //width: 65%
    justify-content: flex-end

.btns
    display: flex

@media screen and (max-width: 900px)
  .header-container
    display: grid
    grid-template-areas: "btns" "user-operations-container"
    grid-gap: 5px
    height: auto
    
a
    display: flex
    justify-content: center
    
.active
    background-color: #00695c 
