.messages-wrapper
    display: flex
    flex-direction: row

.chats-preview-sidebar
    height: 90vh
    display: flex
    flex-direction: column
    border-right: 1px solid #e0e0e0
    min-width: 15vw

.chat-window-wrapper
    flex-grow: 1

.select-chat-message
    max-width: 250px
    margin: 35vh auto
    text-align: center
    background-color: #d2ffdf
    padding: 10px
    border-radius: 10px