<mat-accordion>

  <ng-template ngFor let-specialization [ngForOf]="specializations">

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{specialization.name}}
        </mat-panel-title>

        <div class="button-wrapper">
          <button mat-icon-button>
            <mat-icon color="primary">edit</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Doctors
          </mat-panel-title>

          <div>
            <button mat-icon-button>
              <mat-icon color="primary">add</mat-icon>
            </button>
          </div>

        </mat-expansion-panel-header>

        doctor
        <button mat-icon-button>
          <mat-icon color="warn">cancel</mat-icon>
        </button>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Procedures
          </mat-panel-title>
          <div>
            <button mat-icon-button>
              <mat-icon color="primary">add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>

        <ng-template ngFor let-procedure [ngForOf] = "specialization.procedures" let-i = "index">

          <mat-panel-title>
            {{procedure.name}}
          </mat-panel-title>

          <mat-panel-description>
            {{procedure.description}}
          </mat-panel-description>

        <button mat-icon-button>
          <mat-icon color="warn">cancel</mat-icon>
        </button>

        </ng-template>
      </mat-expansion-panel>


    </mat-expansion-panel>

  </ng-template>

</mat-accordion>
