<div>
  <mat-form-field class="first-form-field form-field" appearance="outline">
    <mat-label>Enter your portfolio</mat-label>
    <textarea class="custom-textarea" matInput placeholder="Ex. I am professional in..." [formControl]="description"></textarea>
    <mat-hint>Portfolio description must be greater than or equal to 64 symbols</mat-hint>
  </mat-form-field>
</div>

<div class="controls">
  <button mat-raised-button class="submit-btn" color="primary" (click)="updateUserPortfolio()">Submit</button>
  <button mat-raised-button color="warn" (click)="goToPreviousPage()">Cancel</button>
</div>
