<div class="wrapper">
  <mat-form-field class="row" appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input>
    <mat-icon matSuffix color="primary">search</mat-icon>
  </mat-form-field>

  <div class="mat-elevation-z8 row">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="setOrderByProperty('Name')"> Name </th>
      <td mat-cell
          *matCellDef="let element">
            <span #tooltip="matTooltip"
                  matTooltip="{{element.name}}"
                  matTooltipPosition="right"
                  matTooltipHideDelay="100">
               {{ (element.name.length>20)? (element.name | slice:0:20)+'...':(element.name) }}
            </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="setOrderByProperty('Cost')"> Cost(T) </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="setOrderByProperty('Description')"> Description </th>
      <td mat-cell
          *matCellDef="let element">
          <span #tooltip="matTooltip"
                matTooltip="{{element.description}}"
                matTooltipPosition="right"
                matTooltipHideDelay="100">
              {{ (element.description.length>25)? (element.description | slice:0:25)+'..':(element.description) }}
          </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.durationInMinutes}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef [hidden]="!(authService.isAuthorized() && authService.isInRole('Admin'))"> Delete </th>
      <td mat-cell *matCellDef="let element" [hidden]="!(authService.isAuthorized() && authService.isInRole('Admin'))">
        <button mat-mini-fab color="primary" (click)="onDeleteProcedure(element)">
          <mat-icon class="white-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef [hidden]="!(authService.isAuthorized() && authService.isInRole('Admin'))"> Edit </th>
      <td mat-cell *matCellDef="let element" [hidden]="!(authService.isAuthorized() && authService.isInRole('Admin'))">
        <button mat-mini-fab color="primary" (click)="onEditProcedure(element)">
          <mat-icon class="white-icon">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="paginator">
    <div>Items per page</div>
    <div>
      <select (change)="selectPageSizeOptions()" [(ngModel)]="currentPageSize">
        <option *ngFor="let pageSizeOption of pageSizeOptions">
          {{pageSizeOption.name}}
        </option>
      </select>
    </div>
    <div>{{pageInfo?.currentPage ?? 0}} of {{pageInfo?.totalPages ?? 0}}</div>
    <div>
      <button mat-flat-button [disabled]="!(pageInfo?.hasPrevious ?? false)" (click)="onPrevPageClick()" color="info"><mat-icon>chevron_left</mat-icon></button>
    </div>
    <div class="next-btn">
      <button mat-flat-button [disabled]="!(pageInfo?.hasNext ?? false)" (click)="onNextPageClick()" color="info"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
  </div>

  <button class="new-procedure-button mat-elevation-z8"
          mat-stroked-button
          (click)="onNewProcedure()"
          color="primary"
          *ngIf="authService.isAuthorized() && authService.isInRole('Admin')">
    <mat-icon class="add-icon">add</mat-icon>
    New Procedure
  </button>
</div>
