<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <textarea
      [maxlength]="400"
      [(ngModel)]="form.value.content"
      matInput
      formControlName="content"
      type="string"
      minlength="5"
      placeholder="Write your comment here"
      [disabled]="!authService.isAuthorized()"></textarea>
  </mat-form-field>
  <button mat-fab color="primary" (click)="onPostComment($event)">
    <mat-icon class="white-icon">send</mat-icon>
  </button>
  <mat-error *ngIf="!authService.isAuthorized()">Authorize to write a comment</mat-error>
</form>

<ng-container *ngFor="let select of comments">
  <div class="single-comment-container">
    <app-display-comment (deletedComment)="onDeleteComment($event)" [comment]="select"></app-display-comment>
  </div>
</ng-container>

