<div class="content">
    <h1>Our specialists</h1>
    <mat-form-field class="row" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder">
    </mat-form-field>
    <div id="doctors">
        <div *ngFor="let doctor of doctors">
            <div class="profile-pic"></div>
                <div class="doc-info">
                    <div class="doc-credentials">{{doctor.firstName}} {{doctor.lastName}}</div>
                    <div class="specializations">{{doctor.specializations?.join(', ')}}</div>
                    <div class="portfolio">{{doctor.portfolio}}</div>
                </div>
            <button mat-raised-button class="submit-btn" color="primary">MAKE AN APPOINTMENT</button>
        </div>
    </div>
</div>