.profile-wrapper
    min-width: 30%
    max-width: 80%
    width: 33%
    min-height: 33%
    max-height: 80%
    height: 500px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    
.img-wrapper
    min-width: 4vw
    min-height: 12vh
    width: 7vw
    height: 7vw
    border: 4px solid #088c7c
    border-radius: 50%
    padding: .5vh

.img-wrapper img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 50%

#profile-credentials
    display: flex
    flex-wrap: wrap
    gap: 40px

    span
        margin-top: 20px
        margin-bottom: 20px

#profile-info
    display: flex
    flex-direction: column

    div
        margin-bottom: 20px

#edit-btn
    width: 100px
    height: 30px
    font-size: 14px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 80px