<div class="profile-wrapper">
    <div class="add-picture-bg">
        <mat-icon class="add-picture-icon">camera_alt</mat-icon>
    </div>
    <div id="profile-credentials">
        <span>{{user?.firstName}}</span>
        <span>{{user?.lastName}}</span>
    </div>
    <div id="profile-info">
        <div>{{user?.email}}</div>
        <div>{{user?.phoneNumber}}</div>
        <div>{{user?.birthDate | date:'dd/MM/yyyy'}}</div>
    </div>

    <a routerLink="/users/{{id}}/edit" id="edit-btn" mat-raised-button color="warn">EDIT</a>
</div>