<footer>
    <div class="wrapper">
        <div class="social-links">
            <a href="/"><mat-icon svgIcon="facebook"></mat-icon></a>
            <a href="/"><mat-icon svgIcon="telegram"></mat-icon></a>
            <a href="/"><mat-icon svgIcon="instagram"></mat-icon></a>
        </div>
        <div class="links">
            <a href="/about">About Us</a>
            <a href="/procedures">Procedures</a>
            <a href="/doctors">Doctors</a>
            <a href="https://github.com/YuraRov/vetClinicFrontEnd" target="_blank">Developers</a>
        </div>
        <hr />
        <span id="copyright">© 2022 VetClinic All Rights Reserved</span>
    </div>
</footer>
