<footer>
    <div class="wrapper">
        <div class="social-links">
            <a href="/"><mat-icon svgIcon="facebook"></mat-icon></a>
            <a href="/"><mat-icon svgIcon="telegram"></mat-icon></a>
            <a href="/"><mat-icon svgIcon="instagram"></mat-icon></a>
        </div>
        <div class="links">
            <a href="/">About Us</a>
            <a href="/">Procedures</a>
            <a href="/">Doctors</a>
            <a href="/">Developers</a>
        </div>
        <hr />
        <span id="copyright">© 2022 VetClinic All Rights Reserved</span>
    </div>
</footer>