<div class="wrapper">
  <div id="profile-pic">
    <img src="" alt="">
  </div>
  <div>
    <mat-tab-group dynamicHeight>
      <mat-tab class="mat-tab" label="Base info">
        <form [formGroup]="editUserForm">
          <div>
            <mat-form-field class="first-form-field form-field" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="phone-icon" matPrefix>phone</mat-icon>
            <mat-form-field id="phone-form-field">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="+(380)97-3174-065" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-field">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="datepicker" formControlName="birthDate" readonly>
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="controls">
            <button mat-raised-button class="submit-btn" color="primary" (click)="updateUser()">Submit</button>
            <button mat-raised-button color="warn" (click)="goToPreviousPage()">Cancel</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab class="mat-tab" label="Address">
        <app-edit-address></app-edit-address>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
