<div class="wrapper">
  <div [formGroup]="form">
    <div class="mat-title">New Article</div>
    <mat-form-field appearance="outline">
      <mat-label>Article title</mat-label>
      <input
        matInput
        formControlName="title"
        type="string"
        minlength="5"
        placeholder="Article title">
      <mat-hint>Length must be greater than 5</mat-hint>
      <mat-error *ngIf="form.controls.title.invalid">Length must be greater than 5</mat-error>
    </mat-form-field>
    <mat-card class="mat-elevation-z0 wrapper">
      <angular-editor formControlName="body" [config]="editorConfig.config"></angular-editor>
    </mat-card>
    <div class="buttons-div">
      <button mat-flat-button (click)="onNoClick()">Discard</button>
      <button
        mat-flat-button
        [disabled]="!(form.valid && form.dirty)"
        (click)="onSaveDraft()">Save Draft</button>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!(form.valid && form.dirty)"
        (click)="onPublish()">Publish</button>
    </div>
  </div>
</div>
