<div class="main-div">
  <div class="profile-wrapper">
    <div class="img-wrapper">
      <img src="{{user?.profilePicture!}}" >
    </div>
    <div id="profile-credentials">
      <span>{{user?.firstName}}</span>
      <span>{{user?.lastName}}</span>
    </div>
    <div id="profile-info">
      <div>{{user?.email}}</div>
      <div>{{user?.phoneNumber}}</div>
      <div>{{user?.birthDate | date:'dd/MM/yyyy'}}</div>
    </div>

    <a routerLink="/users/{{id}}/edit" id="edit-btn" mat-raised-button color="warn">EDIT</a>

    <button mat-stroked-button class="feedback-button" (click)="leaveFeedback()" color="primary">
      Leave feedback
    </button>

  </div>

  <app-main-animal></app-main-animal>

</div>





