<div class="page-wrapper">
  <div class="side-menu mat-elevation-z6">
    <button mat-raised-button color="primary" (click)="onPublish($event)">Publish</button>
    <button mat-button (click)="onExit($event)">Exit</button>
  </div>
  <div class="centred-div mat-elevation-z23">
    <p class="mat-display-1 title">{{currentArticle!.title}}</p>
    <div class="author-time-block">
      <label>{{currentArticle!.authorName!}}</label>
      <div>
        <label *ngIf="currentArticle!.edited!"><i style="margin-right: 15px">edited</i></label>
        <label>{{dateService.getDateTimeString(currentArticle!.createdAt!)}}</label>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div [innerHtml]="currentArticle!.body"></div>
    <br><br>
    <p class="mat-headline">Publish the article to see comments</p>
  </div>
</div>
