.row
    min-width: 700px
    width: 80%

.wrapper
    margin-top: 10px
    display: flex
    justify-content: center
    align-items: center

    .content
        width: 90%

.new-emp-btn
    margin: 10px 0