<script src="feedback-add.component.ts"></script>
<div [formGroup]="form" class="form">
  <div class="mat-title">Add feedback</div>
  <mat-form-field [ngStyle]="{'width':'320px'}" appearance="outline">
    <input
      matInput
      formControlName="email"
      type="email"
      placeholder="Email">
    <mat-error *ngIf="form.controls.email.invalid">Email must be in valid format</mat-error>
  </mat-form-field>

  <div class="radio-input">
  <div class="mat-radio-label-content">How would you rate our service?</div>
  <mat-label>
    <mat-radio-group required aria-label="Select an option"
                     [formControl] = "form.controls.serviceRate"
                     formControlName = "serviceRate">
      <mat-radio-button value= 1>
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 2>
        <mat-icon>sentiment_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 3>
        <mat-icon>sentiment_satisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 4>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </mat-radio-button>
      <mat-error *ngIf="form.controls.serviceRate.value == 0">Service rate is required</mat-error>
    </mat-radio-group>
  </mat-label>
  </div>


  <div class="radio-input">
  <div class="mat-radio-label-content">How would you rate our prices?</div>
  <mat-label>
    <mat-radio-group required [formControl] = "form.controls.priceRate"
      formControlName = "priceRate">
      <mat-radio-button value= 1>
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 2>
        <mat-icon>sentiment_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 3>
        <mat-icon>sentiment_satisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 4>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </mat-radio-button>
      <mat-error *ngIf="form.controls.priceRate.value == 0">Price rate is required</mat-error>
    </mat-radio-group>
  </mat-label>
  </div>


  <div class="radio-input">
  <div class="mat-radio-label-content">How would you rate our customer support?</div>
  <mat-label>
    <mat-radio-group required
      formControlName = "supportRate" [formControl] = "form.controls.supportRate">
      <mat-radio-button value= 1>
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 2>
        <mat-icon>sentiment_dissatisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 3>
        <mat-icon>sentiment_satisfied</mat-icon>
      </mat-radio-button>

      <mat-radio-button  value= 4>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </mat-radio-button>
      <mat-error *ngIf="form.controls.supportRate.value == 0">Support rate is required</mat-error>
    </mat-radio-group>
  </mat-label>
  </div>

    <mat-form-field appearance="fill">
      <mat-label>Any suggestions or complains?</mat-label>
      <textarea
        formControlName="suggestions"
        class="suggestions"
        matInput
        placeholder="Leave here:)"></textarea>
      <mat-error *ngIf="form.controls.suggestions.invalid">Must have less than 1000 symbols</mat-error>
    </mat-form-field>

  <div class = "buttons-div">
    <button mat-raised-button type="submit" (click)="onSaveForm()" [disabled]="form.invalid" color="primary">Add</button>
    <button color="warn" mat-raised-button class="cancel-button" (click)="onCancelClick()">Cancel</button>
  </div>

</div>
